
<div id="welcome-modal" class="modal-overlay" hidden>
    <div class="modal-window">
        <h2>Welcome</h2>

        <p>This is a test page.</p>
        <p></p>
        <p>The slider at the very bottom can be moved around to show different date ranges.</p>
        <p></p>
        <p><--------------</p>
        <p>Clicking on the incident types to the left will show or hide that incident type on the map</p>
        <p></p>
        <p></p>

        <label>
            <input type="checkbox" id="welcome-dont-show">
            Don't show this again
        </label>

        <br><br>

        <button id="welcome-close">
            Close
        </button>
    </div>
</div>